.comp-tabs {
    position: relative;
    .comp-tabs-tabbar {
        display: inline-block;
        span {
            display: inline-block;
            margin-right: 2px;
            padding: 8px 14px;
            font-size: 16px;
            background-color:#b9f6ca;
            cursor: pointer;
        }
        .comp-tabs-tabpanel {
            width: 200px;
            height: 100px;
            background-color: lightcyan;
            position: absolute;
            top: 100px;
            left: 0;
        }
    }
    
}